#define wifi_ssid "your_ssid"
#define wifi_password "your wlan pwd"
#define mqtt_server "192.168.0.100"
#define mqtt_user "MQTT_USER"
#define mqtt_password "MQTT_PWD"
#define moisture_topic "myNodes/FlowerPot/Moisture"
#define waterlevel_topic "myNodes/FlowerPot/WaterLevel"
#define watervolume_topic "myNodes/FlowerPot/WaterVolume"
#define status_topic "myNodes/FlowerPot/Status"
#define moisture_topic "myNodes/FlowerPot/Moisture"
